body {
    background-image: url("https://images.unsplash.com/photo-1520763185298-1b434c919102");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    color: white;
}
}

h1 {
    color: #6c4ab6;
    font-size: 45px;
}

p {
    font-size: 20px;
    color: #555555;
}

.card {
    background-color: white;
    width: 70%;
    margin: 40px auto;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
